* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0 !important;
  box-shadow: none !important;
  font-family: "open sans", sans-serif;
}

.btn {
  font-size: 0.8em;
}

.form-label {
  color: #888;
  font-size: 0.8em;
}

.form-control:focus {
  outline: 0 !important;
  font-size: 0.8em !important;
}

.main {
  padding: 0 0;
}
.leftSiderBar {
  background-color: #0078ff;
}
.leftSiderBar .menuLeftDash {
  list-style: none;
  margin-top: 1em;
}
.leftSiderBar .menuLeftDash .menuLeftDashItem a {
  display: block;
  text-decoration: none !important;
  color: #f1f1f1;
  font-size: 0.9em;
  padding: 1em 10px;
}
.leftSiderBar .menuLeftDash .menuLeftDashItem:hover {
  background-color: white;
}
.leftSiderBar .menuLeftDash .menuLeftDashItem:hover a {
  color: #0078ff;
}
/*
    Created on : 1 de nov de 2022, 22:26:38
    Author     : guilherme
*/
.dashHeaderBar {
  padding: 1em 0;
  background-color: #0078ff;
}
.dashHeaderBar .dashHeaderBarContent {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashHeaderBar .dashHeaderBarContent span {
  cursor: pointer;
}
.sessProfile {
  width: 95%;
  margin: 0 auto;
}
.sessProfile .profile-header {
  margin: 1em 0;
  border-bottom: 2px solid #333;
}
.sessProfile .profile-header h3 {
  color: #333;
  font-weight: 100;
}
.sessProfile .profile-content .alteraSenhaPerfil {
  margin: 1.3em 0;
}
.sessProduct {
  width: 95%;
  margin: 0 auto;
}
.sessProduct .product-header {
  margin: 1em 0;
  border-bottom: 2px solid #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sessProduct .product-header h3 {
  color: #333;
  font-weight: 100;
}
.sessProduct .product-content {
  padding: 1em 0;
}
.sessProduct .product-content .product-result .product-result-header {
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sessProduct .product-content .product-result .product-result-header .product-result-title {
  font-size: 0.8em;
  color: #333;
}
