.leftSiderBar{
    background-color: #0078ff;
    .menuLeftDash{
        list-style: none;
        margin-top: 1em;
        .menuLeftDashItem{
            
            a{
                display: block;
                text-decoration: none!important;
                color: #f1f1f1;
                font-size: .9em;
                padding: 1em 10px;
            }
            
            
            &:hover{
                background-color: white;
               
                a{
                     color: #0078ff;
                }
            }
        }
    }
}