.sessProfile{
    width: 95%;
    margin: 0 auto;

    .profile-header{
        margin: 1em 0;
        border-bottom: 2px solid #333;
        h3{
            color: #333;
            font-weight: 100;
        }
    }

    .profile-content{
        .alteraSenhaPerfil{
            margin: 1.3em 0;

        }
    }
}
