*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0!important;
    box-shadow: none!important;
    font-family: 'open sans', sans-serif;
}

//buutons
.btn{
    font-size: .8em;
}
//forms
.form-label{
    color: #888;
    font-size: .8em;

}
.form-control:focus{
    outline: 0!important;

}

.main{
    padding: 0 0;
}

.table{
    font-size: .8em;
    thead{
        tr{
            th{
                font-weight: 600;
            }
        }
    }
}

//Pagination

.pagination{
    font-size: .8em;
}
